.footer-container{
margin-bottom: 57px;
}
.appFooter {
  border-top: 1px solid #DCDCE9;
  padding: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 1.2em;
  background: #FFF;
}
.appFooter .footer-title {
  font-weight: 500;
  color: #27173E;
  margin-bottom: 8px;
}
.appFooter P{
  color: #958d9e;
}